*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: europa;
  box-sizing: border-box;
  color: #FFFFFF;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #85FFBD;
  background-image: radial-gradient(farthest-corner at 79% -108%, #FBF7D5 3%, #E6F6D6 31%, #54ECDC 100%);
}

.eyesnlashes {
  height: 270px;
  width: 274px;
  position: relative;
}

.eye1 {
  right: -40%;
  top: -20px;
  transform: rotate(27deg);
}

.eye2 {
  right: -10%;
  bottom: 0;
  transform: rotate(-153deg);
}

.lashbox {
  height: 108px;
  width: 274px;
  position: relative;
}

.lash {
  height: 71px;
  width: 30px;
  background-color: black;
  border-radius: 15px;
  position: absolute;
}

.lash1 {
  left: 50%;
  transform: translate(-50%, 0);
}

.lash2 {
  right: 19px;
  bottom: 0;
  transform: rotate(42deg);
}

.lash3 {
  bottom: 0;
  left: 19px;
  transform: rotate(-42deg);
}

.eyesbox {
  height: 165px;
  width: 165px;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  border-radius: 50%;
  overflow: visible;
}

.eyewhite {
  height: 144px;
  width: 144px;
  background-color: #73F5FB;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
}

.ball {
  height: 78px;
  width: 78px;
  background-color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
}

.ring {
  height: 670px;
  width: 670px;
  position: absolute;
  background-image: url(Assets/ring_combined_shape.png);
  top: 30px;
  left: -250px;
}

.sphere {
  height: 463px;
  width: 463px;
  position: absolute;
  background-image: radial-gradient(farthest-corner at 86% -140%, #FCAFFF 5%, #F1F7D6 140%);
  border-radius: 50%;
}

.sphere1 {
  top: 450px;
  left: 500px;
}

.sphere2 {
  top: 100px;
  left: 1120px;
}

h1 {
  font-family: europa, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0.98px;
  position: absolute;
  top: 80%;
  right: 0;
}

.h2 {
  font-family: europa;
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  letter-spacing: .04em;
  line-height: 1em;
  color: #FFFFFF;
  position: absolute;
  top: 30px;
  left: 20px;
}


.login-form{
  width: 360px;
  height: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%,-50%);
}

.txtb{
  border-bottom: 2px solid #FFFFFF;
  position: relative;
  margin: 30px 0;
}

.txtb input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #FFFFFF;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 82%, #fcfbff 140%);
  transition: .5s;
}

.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}
